html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
}
